[MASTER]
init-hook="import os, sys; sys.path.insert(0, os.getcwd())"

[FORMAT]
max-line-length=220

[DESIGN]
max-args=20
max-positional-arguments=20
max-locals=40
max-returns=10
max-attributes=20

[MAIN]
max-module-lines=2000